.dialogs {
    display: grid;
    color: #282C34;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
    line-height: 25px;
}

.dialog a {
    text-decoration: none;
    color: #282C34;
    display: block;
    text-align: center;
}

.dialog a.activeLink {
    color: #0397D6;
}

.messages {
    padding: 20px;
    margin-left: 20px;
    line-height: 25px;
}

.dialog a:hover {
    background: #E1E4EB;
    border-radius: 5px;
  }


